*.parquet
.idea
venv
.venv
external_data.yaml
*.env
*__pycache__
*.egg*
*.cache
**/data/fbs_diff/*
flowby-old.py
flowsa/methods/flowbysectormethods/archive*
flowsa/data/external_data/SIT_data/*
flowsa/data/external_data/StateGHGI_data/*
.spyproject*
