git+git://github.com/USEPA/Federal-LCA-Commons-Elementary-Flow-List#egg=fedelemflowlist
pandas>=1.1.0                  # Powerful data structures for data analysis, time series, and statistics.
pip>=9                         # The PyPA recommended tool for installing Python packages.
setuptools>=41                 # Fully-featured library designed to facilitate packaging Python projects.
pyyaml>=5.3                    # Yaml for python
pyarrow >= 0.15.0              # Compression for parquet files
requests >=2.22.0              # Web service calls
appdirs >= 1.4.3               # Storing user data
pycountry >= 19.8.18           # ISO country codes
xlrd >= 1.2.0                  # Extract data from Excel spreadsheets
requests_ftp == 0.3.1          # Requests implementation for FTP
tabula-py >= 2.1.1             # PDF reader
