git+git://github.com/USEPA/Federal-LCA-Commons-Elementary-Flow-List@v1.0.7#egg=fedelemflowlist
git+git://github.com/USEPA/esupy@v0.1.2#egg=esupy
git+git://github.com/USEPA/standardizedinventories@v0.9.7#egg=StEWI
pandas>=1.1.0                  # Powerful data structures for data analysis, time series, and statistics.
pip>=9                         # The PyPA recommended tool for installing Python packages.
setuptools>=41                 # Fully-featured library designed to facilitate packaging Python projects.
pyyaml>=5.3                    # Yaml for python
requests >=2.22.0              # Web service calls
appdirs >= 1.4.3               # Storing user data
pycountry >= 19.8.18           # ISO country codes
xlrd >= 1.2.0                  # Extract data from xls files
openpyxl >= 3.0.7              # Extract data from xlsm files
requests_ftp == 0.3.1          # Requests implementation for FTP
tabula-py >= 2.1.1             # PDF reader
numpy >= 1.20.1                # Library used for arrays
bibtexparser>=1.2.0            # Generates bibtex
