"""
After creating an API key for the Census and USDA_Quickstats (and any other
required keys), users should add the Keys to "API_Keys.env" and
store the .env in the MODULEPATH defined in flowsa/settings.py.

See wiki for instructions to create an api key:
https://github.com/USEPA/flowsa/wiki/Using-FLOWSA#api-keys

"""
Census = "XXXXX"
USDA_Quickstats = "XXXXX"