"""
To access a file stored externally from FLOWSA, users can add a filepath to
"external_paths.env" and store the .env in the MODULEPATH defined in
flowsa/settings.py.

"""
WARM-USEEIO_MaterialCrosswalk = "user-path/WARM-USEEIOdocs/data/MaterialCrosswalk.csv"

WARM-USEEIO_Materials = "user-path/git_projects/WARM-USEEIOdocs/data/Materials.csv"
