# This workflow provides testing for FlowByActivity configurations and
# generates FlowBySector files and compares to the latest public version

name: Testing for FlowByActivity and FlowBySector Methods

on:
  # push: # removed to run only on pull request
  pull_request:
    branches: [master, develop]
    types: [opened, reopened, ready_for_review]   # excludes syncronize to avoid redundant trigger from commits on PRs
  workflow_dispatch:            # also allow manual trigger, for testing purposes

jobs:
  FBA_testing:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"

    - name: Update pip & install testing pkgs
      run: |
        python -VV
        python -m pip install --upgrade pip setuptools wheel
        pip install pytest pytest-cov flake8

    # install package & dependencies
    - name: Install package and dependencies
      run: |
        pip install .

    - name: Test FBA config
      run: |
        for m in $(python flowsa/test_methods.py list)
        do
          echo "python flowsa/test_methods.py $m"
          python flowsa/test_methods.py "$m" || true
        done

  FBS_testing:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"

    - name: Update pip & install testing pkgs
      run: |
        python -VV
        python -m pip install --upgrade pip setuptools wheel
        pip install pytest pytest-cov flake8

    # install package & dependencies
    - name: Install package and dependencies
      run: |
        pip install .

    - name: Set Swap
      shell: bash
      run: |
          export SWAP_FILE=$(swapon --show=NAME | tail -n 1)
          sudo swapoff $SWAP_FILE
          sudo rm $SWAP_FILE
          sudo fallocate -l 10G $SWAP_FILE
          sudo chmod 600 $SWAP_FILE
          sudo mkswap $SWAP_FILE
          sudo swapon $SWAP_FILE
    - name: Swap space report after modification
      shell: bash
      run: |
        echo "Memory and swap:"
        free -h
        echo
        swapon --show
        echo
    - name: Compare FBS with remote
      id: FBS
      if: always() # Proceed even if Test FBA fails
      run: |
        for m in $(python flowsa/test_FBS_against_remote.py list)
        do
          echo "python flowsa/test_FBS_against_remote.py $m"
          python flowsa/test_FBS_against_remote.py "$m" || true
        done

    - name: Upload csv files
      # if: steps.FBS.outcome == 'success' # Upload csv only if step succeeds
      if: always()
      uses: actions/upload-artifact@v2.3.0
      with:
        # Artifact name
        name: FBS diff files
        # A file, directory or wildcard patter that describes what to upload
        path: |
            ~/.local/share/flowsa/FBSComparisons/*
            ~/.local/share/flowsa/FlowBySector/*
            ~/.local/share/flowsa/Log/*
        if-no-files-found: warn # 'warn' or 'ignore' are also available, defaults to `warn`
        # retention-days: 5 # cannot exceed the retention limit set by the repository, organization, or enterprise.
